<div class="container">
  <h2 class="title-lg mb">Вопрос <%= @question.id %></h2>
  <p class="mt-sm"><%= link_to "Все вопросы для #{dogcase(@question.user)}", user_path(@question.user) %></p>

  <%= render "question", question: @question %>

  <p class="mt text-left"><%= link_to "Все вопросы", questions_path %></p>
</div>
